In [1]:
print("Hello world")

Hello world

In [52]:
import pandas as pd
import numpy as np
print("$")

$

In [34]:
df = pd.read_excel("D:/Adidas/data.xlsx")
df.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,In-store
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35,In-store
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,In-store

In [49]:
df[~df["Retailer"].duplicated()][['Retailer','Retailer ID']]

           Retailer  Retailer ID
0       Foot Locker      1185732
46          Walmart      1185732
68    Sports Direct      1197831
140       West Gear      1128299
212          Kohl's      1189833
1148         Amazon      1185732

In [62]:
li = df.groupby('Region')['Retailer'].unique().apply(list)

for i in li:
    print(i)

['Foot Locker', 'Sports Direct', "Kohl's", 'West Gear', 'Amazon']
['Foot Locker', 'Walmart', 'Sports Direct', 'West Gear', 'Amazon', "Kohl's"]
['Sports Direct', 'Walmart', 'West Gear', 'Foot Locker', 'Amazon', "Kohl's"]
['Foot Locker', 'West Gear', 'Sports Direct', 'Walmart', 'Amazon']
['West Gear', "Kohl's", 'Foot Locker', 'Amazon', 'Walmart', 'Sports Direct']

In [70]:
df.groupby(['State' , 'City'])['Retailer'].unique()

State           City
Alabama         Birmingham                        [Sports Direct, Amazon]
Alaska          Anchorage                           [Amazon, Foot Locker]
Arizona         Phoenix                             [Foot Locker, Kohl's]
Arkansas        Little Rock                          [Walmart, West Gear]
California      Los Angeles                         [Kohl's, Foot Locker]
                San Francisco                         [West Gear, Kohl's]
Colorado        Denver                                        [West Gear]
Connecticut     Hartford                     [Sports Direct, Foot Locker]
Delaware        Wilmington                          [Foot Locker, Kohl's]
Florida         Miami             [Foot Locker, West Gear, Sports Direct]
                Orlando               [Sports Direct, Walmart, West Gear]
Georgia         Atlanta                      [Sports Direct, Foot Locker]
Hawaii          Honolulu            [Foot Locker, Walmart, Sports Direct]
Idaho           Boise             [Foot Locker, West Gear, Sports Direct]
Illinois        Chicago                      [Foot Locker, Sports Direct]
Indiana         Indianapolis                                  [West Gear]
Iowa            Des Moines                       [Foot Locker, West Gear]
Kansas          Wichita                             [Kohl's, Foot Locker]
Kentucky        Louisville                          [Amazon, Foot Locker]
Louisiana       New Orleans                      [West Gear, Foot Locker]
Maine           Portland                              [Amazon, West Gear]
Maryland        Baltimore         [West Gear, Foot Locker, Sports Direct]
Massachusetts   Boston                            [Sports Direct, Amazon]
Michigan        Detroit                      [Sports Direct, Foot Locker]
Minnesota       Minneapolis                         [Foot Locker, Kohl's]
Mississippi     Jackson             [Foot Locker, Walmart, Sports Direct]
Missouri        St. Louis                        [Foot Locker, West Gear]
Montana         Billings                          [Kohl's, Sports Direct]
Nebraska        Omaha                        [Foot Locker, Sports Direct]
Nevada          Las Vegas                                     [West Gear]
New Hampshire   Manchester                          [Amazon, Foot Locker]
New Jersey      Newark                            [Kohl's, Sports Direct]
New Mexico      Albuquerque                       [Kohl's, Sports Direct]
New York        Albany                                [West Gear, Kohl's]
                New York            [Foot Locker, Walmart, Sports Direct]
North Carolina  Charlotte                         [Sports Direct, Amazon]
North Dakota    Fargo                        [Sports Direct, Foot Locker]
Ohio            Columbus                              [Amazon, West Gear]
Oklahoma        Oklahoma City                         [West Gear, Kohl's]
Oregon          Portland                                      [West Gear]
Pennsylvania    Philadelphia                     [Foot Locker, West Gear]
Rhode Island    Providence                   [Foot Locker, Sports Direct]
South Carolina  Charleston                   [Foot Locker, Sports Direct]
South Dakota    Sioux Falls                  [Foot Locker, Sports Direct]
Tennessee       Knoxville                    [Sports Direct, Foot Locker]
Texas           Dallas                       [Sports Direct, Foot Locker]
                Houston               [Sports Direct, Walmart, West Gear]
Utah            Salt Lake City                                [West Gear]
Vermont         Burlington                            [Amazon, West Gear]
Virginia        Richmond                     [Foot Locker, Sports Direct]
Washington      Seattle                          [West Gear, Foot Locker]
West Virginia   Charleston                       [West Gear, Foot Locker]
Wisconsin       Milwaukee                                     [West Gear]
Wyoming         Cheyenne                            [Kohl's, Foot Locker]
Name: Retailer, dtype: object

In [74]:
 df.groupby(['City','Retailer'])["Product"].unique()

City         Retailer
Albany       Kohl's           [Women's Street Footwear, Women's Athletic Foo...
             West Gear        [Women's Athletic Footwear, Men's Apparel, Wom...
Albuquerque  Kohl's           [Women's Athletic Footwear, Men's Apparel, Wom...
             Sports Direct    [Women's Street Footwear, Women's Athletic Foo...
Anchorage    Amazon           [Women's Apparel, Men's Street Footwear, Men's...
                                                    ...
St. Louis    West Gear        [Women's Street Footwear, Women's Athletic Foo...
Wichita      Foot Locker      [Women's Apparel, Men's Street Footwear, Men's...
             Kohl's           [Women's Athletic Footwear, Men's Apparel, Wom...
Wilmington   Foot Locker      [Women's Athletic Footwear, Men's Apparel, Wom...
             Kohl's           [Women's Apparel, Men's Street Footwear, Men's...
Name: Product, Length: 108, dtype: object

In [78]:
df.groupby("Retailer")["Total Sales"].sum()

Retailer
Amazon            77698912.0
Foot Locker      220094720.0
Kohl's           102114753.0
Sports Direct    182470997.0
Walmart           74558410.0
West Gear        242964333.0
Name: Total Sales, dtype: float64

In [82]:
df.groupby(["Retailer","City"])[["Total Sales","Operating Profit"]].sum()

                          Total Sales  Operating Profit
Retailer  City
Amazon    Anchorage        13365025.0        4143804.75
          Birmingham         409091.0         146947.48
          Boston            4193590.0        1375377.31
          Burlington       13380463.0        5376161.02
          Charlotte         3733676.0        1532481.72
...                               ...               ...
West Gear Portland         21934257.0        7712540.80
          Salt Lake City    9696420.0        3873429.10
          San Francisco    33360397.0        9843005.12
          Seattle          24862675.0        6469771.84
          St. Louis         1701133.0         681457.25

[108 rows x 2 columns]

In [84]:
df.groupby(["Product","Retailer"])[["Total Sales","Operating Profit"]].sum()

                                         Total Sales  Operating Profit
Product                   Retailer
Men's Apparel             Amazon          10474770.0        3331443.80
                          Foot Locker     29508995.0        9942404.61
                          Kohl's          14164965.0        5945043.20
                          Sports Direct   24825286.0        8723914.71
                          Walmart         11490680.0        3166591.22
                          West Gear       33263936.0       13653632.79
Men's Athletic Footwear   Amazon          12011959.0        4518030.11
                          Foot Locker     36480415.0       12409221.49
                          Kohl's          17885316.0        5725762.60
                          Sports Direct   30889734.0       11935672.81
                          Walmart         13600404.0        4029257.65
                          West Gear       42805852.0       13228943.53
Men's Street Footwear     Amazon          22161652.0        8707658.12
                          Foot Locker     57481575.0       23060809.17
                          Kohl's          22421073.0        9219819.89
                          Sports Direct   38672270.0       15837750.43
                          Walmart         14924255.0        5438666.13
                          West Gear       53165419.0       20537556.88
Women's Apparel           Amazon          15710639.0        6280071.53
                          Foot Locker     43296114.0       17192901.49
                          Kohl's          20315239.0        5596172.50
                          Sports Direct   37113257.0       17832960.67
                          Walmart         15316099.0        6348451.03
                          West Gear       47287512.0       15400413.34
Women's Athletic Footwear Amazon           7935255.0        2701607.74
                          Foot Locker     24239624.0        8477313.73
                          Kohl's          12493869.0        4570693.09
                          Sports Direct   23145288.0        9688746.39
                          Walmart          8762792.0        3239052.49
                          West Gear       30055068.0       10298371.50
Women's Street Footwear   Amazon           9404637.0        3279692.01
                          Foot Locker     29087997.0        9639474.32
                          Kohl's          14834291.0        5753761.30
                          Sports Direct   27825162.0       10313909.95
                          Walmart         10464180.0        3560034.09
                          West Gear       36386546.0       12548955.14

In [96]:
df[df["Invoice Date"].between('2020-1-1','2020-4-15')].groupby("Product")[["Units Sold","Total Sales","Operating Profit"]].sum()

                           Units Sold  Total Sales  Operating Profit
Product
Men's Apparel                   17060    7030470.0        2876971.09
Men's Athletic Footwear         25755    9721277.0        2657923.14
Men's Street Footwear           31372   11515677.0        5213987.70
Women's Apparel                 22954    9605280.0        2162116.63
Women's Athletic Footwear       19980    6889592.0        2398964.20
Women's Street Footwear         23442    8014382.0        3022311.95

In [98]:
df.groupby(["Retailer","City"])["Units Sold"].sum()

Retailer   City
Amazon     Anchorage         26749
           Birmingham         1674
           Boston            11763
           Burlington        36476
           Charlotte         10350
                             ...
West Gear  Portland          52253
           Salt Lake City    48548
           San Francisco     82655
           Seattle           42262
           St. Louis          7527
Name: Units Sold, Length: 108, dtype: int64

In [108]:
df.groupby(["Product","Price per Unit"])["Retailer"].unique()

Product                  Price per Unit
Men's Apparel            16.0                                    [West Gear]
                         18.0                                      [Walmart]
                         19.0                     [West Gear, Sports Direct]
                         20.0                     [West Gear, Sports Direct]
                         21.0                                      [Walmart]
                                                         ...
Women's Street Footwear  85.0                           [Walmart, West Gear]
                         85.0                       [West Gear, Foot Locker]
                         86.0              [Walmart, Foot Locker, West Gear]
                         90.0                       [Foot Locker, West Gear]
                         95.0                           [Walmart, West Gear]
Name: Retailer, Length: 622, dtype: object

In [113]:
df.groupby(["Product",pd.Grouper(key = "Invoice Date",axis = 0,freq = 'M')])["Operating Profit"].sum()

Product                  Invoice Date
Men's Apparel            2020-01-31       857217.30
                         2020-02-29       994034.84
                         2020-03-31       891135.65
                         2020-04-30      1565586.25
                         2020-05-31      1209168.43
                                            ...
Women's Street Footwear  2021-08-31      3707803.24
                         2021-09-30      3275830.19
                         2021-10-31      2633541.98
                         2021-11-30      2517466.24
                         2021-12-31      3699986.98
Name: Operating Profit, Length: 144, dtype: float64

In [120]:
df.groupby(["Product","Sales Method"])["Total Sales","Operating Profit"].sum()

C:\Users\y20cs161\AppData\Local\Temp/ipykernel_12068/3496120873.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(["Product","Sales Method"])["Total Sales","Operating Profit"].sum()

                                        Total Sales  Operating Profit
Product                   Sales Method
Men's Apparel             In-store       49325000.0       17474500.00
                          Online         35528995.0       12827852.21
                          Outlet         38874637.0       14460678.12
Men's Athletic Footwear   In-store       59348750.0       19702375.00
                          Online         41715609.0       15674177.79
                          Outlet         52609321.0       16470335.40
Men's Street Footwear     In-store       88852000.0       34867100.00
                          Online         56844308.0       22958021.76
                          Outlet         63129936.0       24977138.86
Women's Apparel           In-store       70248750.0       26285125.00
                          Online         49763155.0       20843599.33
                          Outlet         59026955.0       21522246.23
Women's Athletic Footwear In-store       40520000.0       13568625.00
                          Online         29593467.0       11540214.63
                          Outlet         36518429.0       13866945.31
Women's Street Footwear   In-store       48349250.0       15693562.50
                          Online         34227348.0       12711310.75
                          Outlet         45426215.0       16690953.56

In [129]:
df.groupby(["Product","City","Price per Unit"])["Retailer"].unique()

Product                  City        Price per Unit
Men's Apparel            Albany      49.0                           [Kohl's]
                                     50.0                [Kohl's, West Gear]
                                     51.0                        [West Gear]
                                     52.0                        [West Gear]
                                     55.0                        [West Gear]
                                                               ...
Women's Street Footwear  Wilmington  43.0                      [Foot Locker]
                                     45.0                      [Foot Locker]
                                     50.0              [Foot Locker, Kohl's]
                                     52.0                           [Kohl's]
                                     55.0              [Foot Locker, Kohl's]
Name: Retailer, Length: 6023, dtype: object

In [151]:
#14.	Find the products whose sales raises in every month.

df.groupby(["Product",pd.Grouper(key = "Invoice Date",axis = 0,freq = 'M')])['Total Sales'].sum().groupby("Product").diff().apply(lambda x: x>0)

AttributeError: 'SeriesGroupBy' object has no attribute 'groupby'

In [173]:
#14.	Find the products whose sales raises in every month.

df.groupby(["Product",pd.Grouper(key = "Invoice Date",axis = 0,freq = 'M')])['Total Sales'].sum().diff().apply(lambda x: 0 if x<0 else x)

Product                  Invoice Date
Men's Apparel            2020-01-31            NaN
                         2020-02-29            0.0
                         2020-03-31            0.0
                         2020-04-30      1565132.0
                         2020-05-31            0.0
                                           ...
Women's Street Footwear  2021-08-31       141617.0
                         2021-09-30            0.0
                         2021-10-31            0.0
                         2021-11-30       163718.0
                         2021-12-31      3281479.0
Name: Total Sales, Length: 144, dtype: float64

In [177]:
df.groupby(["Product",pd.Grouper(key = "Invoice Date",axis = 0,freq = 'M')])['Operating Profit'].sum().diff().apply(lambda x : x>0)

Product                  Invoice Date
Men's Apparel            2020-01-31      False
                         2020-02-29       True
                         2020-03-31      False
                         2020-04-30       True
                         2020-05-31      False
                                         ...
Women's Street Footwear  2021-08-31       True
                         2021-09-30      False
                         2021-10-31      False
                         2021-11-30      False
                         2021-12-31       True
Name: Operating Profit, Length: 144, dtype: bool